pdf/

src/TP1 - Inteface Lecteur MP3.cache
src/TP1 - Inteface Lecteur MP3.hw
src/TP1 - Inteface Lecteur MP3.ip_user_files
src/TP1 - Inteface Lecteur MP3.sim
src/TP1 - Inteface Lecteur MP3.xpr
src/TP1 - Inteface Lecteur MP3.src/sim_1/new

simulation/

Nexys-A7-100T-Master.xdc

corrections-transcodeur_simp.vhd

todo.txt
