pdf/
simulation/

src/TP1 - Inteface Lecteur MP3.cache/
src/TP1 - Inteface Lecteur MP3.hw/
src/TP1 - Inteface Lecteur MP3.ip_user_files/
src/TP1 - Inteface Lecteur MP3.runs/
src/TP1 - Inteface Lecteur MP3.sim/
src/TP1 - Inteface Lecteur MP3.srcs/sim_1/new/

Nexys-A7-100T-Master.xdc
